<h1>Team Players</h1>

<% teamPlayers.forEach(player => { %>
    <div>
      <h3><%= player.name %></h3>
      <a href="/players/<%= player.team %>/<%= player.name %>">Player Details</a>
    </div>
<% }) %>
