<h2>Display all players in this specific team here</h2>

<% teamPlayers.forEach(team => { %>
    <div>
      <h3><%= player.name %></h3>
      <a href="/user/teams/<%= player.name %>">Player Details</a>
    </div>
<% }) %>