<h2>Display all players in this specific team here</h2>

<% teamPlayers.forEach(player => { %>
    <div>
      <h3><%= player.name %></h3>
      <a href="/players/<%= player.team %>/<%= player.name %>">Player Details</a>
    </div>
<% }) %>