<!-- purpose of this page is to retrieve all nominees and display them on the page -->

<div class="nominee">
    <h1 class="nominee">All My Nominees</h1>
</div>

<div class="nominees">
    <% nominees.forEach(eachNominee => { %>
        <p>
            <a href="/user/nominees/<%= eachNominee.id %>"><%= eachNominee.name %></a>
        </p>
    <% }) %>
</div>

