<h2>Display all teams in league</h2>
<ul>
    <% results.forEach(result => { %>
        <li><a href="/search_all_teams.php?l=<%=result.English%20Premier%20League%>"><%= result.name%></a></li>
    <% }) %>
</ul>