
<div>
    <form method="GET" action="/teams">
        <label for="search">Search:</label>
        <input type="text" id="search" placeholder="search here" name="searchTeams"/>
        <input type="submit"/>
    </form>
</div>

<h2>Display all teams in specific league</h2>

<% leagueTeams.forEach(team => { %>
    <div>
      <h3><%= team.name %></h3>
      <a href="/user/teams/<%= team.name %>">click here</a>
    </div>
<% }) %>

