body {
    background-color: #191c1f;
    color: white;
}

h1 {
    text-align: center;
    padding-top: 1.5rem;
}

.team-logos {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion-button {
    background-color:#191c1f;
    color: white;
    /* border:#191c1f; */
}

#accordian {
    color: black;
}

#team-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    color: goldenrod;
}





/* .page_404 {
    padding: 40px 0;
    background: #fff;
}

.four_zero_four_bg {
    background-image: url(img.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.content_box_404 {
    margin-top: -50px;
} */