body {
    background-color: #191c1f;
    color: white;
}

h1 {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/* .img-size {
    width: auto;
    height: auto;
    padding: 0 15rem 0 20rem;
} */

.home-h3 {
    padding: 2rem 15rem 0 15rem;
}

.home {
    padding: 0 15rem 0 20rem;
}

.home-p {
    padding: 0 15rem 0 15rem;
}
.league-h2 {
    text-align: center;
}

.league-card {
    color: white;
    border: white;
}

.team-logos {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 1rem;
    background-color: #191c1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191c1f;
    border-color: goldenrod;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: goldenrod;
    color: #191c1f;
    border: none;
}

.btn-primary:active {
    background-color: #191c1f;
    /* box-shadow: 0 5px goldenrod; */
    transform: translateY(4px);
    border: none;
}

.collapseText {
    background-color: #191c1f;
}

.player-card-deck {
    border: solid white;
    /* padding: 2rem; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-direction: row;
    width: 20%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.player-card-title {
    text-transform: uppercase;
    padding-top: 1rem;
}

.player-card-body {
    text-align: center;
}



/* .page_404 {
    padding: 40px 0;
    background: #fff;
}

.four_zero_four_bg {
    background-image: url(img.gif);
    height: 400px;
    background-position: center;
}

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.content_box_404 {
    margin-top: -50px;
} */