body {
    background-color: #262626;
    color: white;
}

h1, h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

ul {
    padding-bottom: 1.5rem;
}

li {
    padding-bottom: .75rem;
}

a {
    color: white;
}

a:hover {
    color: goldenrod;
}

.navbar {
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
}

.row {
    margin-top: 8rem;
}

.login-button {
    display:flex;
    align-items: center;
    justify-content: center;
}

.home-div {
    margin-bottom: 3rem;
}

.home-bottom-div {
    margin-bottom: 8rem;
}

.home-h3 {
    padding: 2rem 15rem 0 15rem;
}

.home {
    padding: 0 15rem 0 20rem;
}

.home-p {
    padding: 0 15rem 0 15rem;
}
.league-h2 {
    text-align: center;
}

.league-list {
    padding-top: 1.1rem;
    /* padding: 1rem; */
    /* display: inline-block;
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
    margin: 5rem 2rem 1rem 8rem; */
}

.league-list-container {
    display: flex;
    justify-content: space-around;
}

.top-league-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
}

.league-card {
    color: white;
    border: white;
}

.team-logos {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 1rem;
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    border-color: goldenrod;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: goldenrod;
    color: #262626;
    border: none;
}

.btn-primary:active {
    background-color: #262626;
    transform: translateY(4px);
    border: none;
}

.collapseText {
    background-color: #262626;
}

.player-card-deck {
    padding: 2rem;
    margin: 1rem 2rem 2rem 2rem;
    display: inline-block;
    width: 20%;
    position: relative;
}

.player-card-title {
    text-transform: uppercase;
    padding-top: 1rem;
}

.player-card-body {
    text-align: center;
}

.player-detail-image {
    border: solid white;
}

.player-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.nominee-button {
    padding: 2.5rem 0rem 2.5rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    margin-left: 8rem;
    margin-right: 9rem;
    word-spacing: 5px;
    font-size: 20px;
}

.background-info {
    word-spacing: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.form-group {
    padding: 0 0 1rem 2rem;
}

.form-control-comment {
    width: 80%;
    height: 100px;
    padding: 10px;
    border-left: 6px solid goldenrod;
    background-color: white;
    color: #262626;
}

.comment-area {
    padding: 0 0 .3rem;
    margin-left: 2rem;
    font-size: 20px;
}

#comment-submit-button {
    margin-left: 2rem;
    margin-bottom: 10rem;
}

.nominee-note-title {
    text-decoration: underline;
}

.nominees-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-top: 2rem;
}

.edit-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#carouselIndicators {
    padding: 0 8rem 0 8rem;
}

#comment-delete-button {
    font-size: 15px;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#comment-edit-button {
    font-size: 15px;
    margin-left: 4rem;
    display: inline-block;
}

#comments {
    font-size: 15px;
}

#delete-nominee-button {
    margin-top: 2rem;
    display:flex;
    align-items: center;
    justify-content:center;
}

#notes-here {
    font-size: 30px;
}

#404 {
    display: flex;
}

/* slideshow */
#slideshow {
    margin: 0 auto;
    padding-top: 70px;
    height: 24rem;
    width: 100%;
    box-sizing: border-box;
}

.entire-content {
    margin: auto;
    width: 180px;
    perspective: 1000px;
    position: relative;
    padding-top: 2rem;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.content-carrousel figure {
    width: 100%;
    height:10rem;;
    border: 1px solid #3b444b;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px); 
} 
.content-carrousel figure:nth-child(2) {
    transform: rotateY(72deg) translateZ(300px); 
} 
.content-carrousel figure:nth-child(3) {
    transform: rotateY(144deg) translateZ(300px); 
} 
.content-carrousel figure:nth-child(4) {
    transform: rotateY(216deg) translateZ(300px); 
} 
.content-carrousel figure:nth-child(5) {
    transform: rotateY(288deg) translateZ(300px); 
} 
.content-carrousel figure:nth-child(6) {
    transform: rotateY(360deg) translateZ(300px); 
}

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}

.content-carrousel img:hover {
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar {
from {
transform: rotateY(0deg);
} to {
transform: rotateY(360deg);
}
}

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: white;
    text-align: center;
 } */
