<form action="/user" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <!-- if name was burrito, we would use req.body.burrito -->

    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Sign Up!</button>
</form>