<h2>Top 5 League Rankings</h2>

<div>
    <form method="GET" action="/leagues">
        <label for="search">Search:</label>
        <input type="text" id="search" placeholder="search here" name="leagueSearch"/>
        <input type="submit"/>
    </form>
</div>

<h1>League Results:</h1>

<% soccerLeagues.forEach(league => { %>
    <div>
      <h3><%= league.strLeague %></h3>
      <a href="/leagues/<%= league.idLeague === '4328' %>">click here</a>
    </div>
<% }) %>



<!--     
<form method="POST" action="/leagues">
    <div class="search-div">
        <label for="league name input" id="league name input">Click a league below</label>

        <br> <br>

        <select name="leagueName" id="leagueName">
            <option value="English%20Premier%20League">Premier League</option>
            <option value="German%20Bundesliga">Bundesliga</option>
            <option value="Italian%20Serie%20A">Serie A</option>
            <option value="Ligue%201">Ligue 1</option>
            <option value="La%20Liga">La Liga</option>
        </select>
        <input id="search-btn" type="submit" value="See Results!">
    </div>
</form>     -->


<!-- i want to just display the results below the search bar instead of going to a new page -->









<!-- widgets -->

<!-- premier league -->
<!-- <div id="wg-api-football-standings"
     data-host="v3.football.api-sports.io"
     data-league="39"
     data-team=""
     data-season="2021"
     data-key="9bd26dba4fe88a433a7b8d1a1f08f687"
     data-theme=""
     data-show-errors="false"
     class="api_football_loader"></div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script> -->

<!-- la liga -->
<!-- <div id="wg-api-football-standings"
     data-host="v3.football.api-sports.io"
     data-league="140"
     data-team=""
     data-season="2021"
     data-key="9bd26dba4fe88a433a7b8d1a1f08f687"
     data-theme=""
     data-show-errors="false"
     class="api_football_loader"></div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script> -->

<!-- serie A -->
<!-- <div id="wg-api-football-standings"
     data-host="v3.football.api-sports.io"
     data-league="135"
     data-team=""
     data-season="2021"
     data-key="9bd26dba4fe88a433a7b8d1a1f08f687"
     data-theme=""
     data-show-errors="false"
     class="api_football_loader"></div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script> -->

<!-- bundesliga -->
<!-- <div id="wg-api-football-standings"
     data-host="v3.football.api-sports.io"
     data-league="78"
     data-team=""
     data-season="2021"
     data-key="9bd26dba4fe88a433a7b8d1a1f08f687"
     data-theme=""
     data-show-errors="false"
     class="api_football_loader"></div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script> -->

<!-- ligue 1 -->
<!-- <div id="wg-api-football-standings"
     data-host="v3.football.api-sports.io"
     data-league="61"
     data-team=""
     data-season="2021"
     data-key="9bd26dba4fe88a433a7b8d1a1f08f687"
     data-theme=""
     data-show-errors="false"
     class="api_football_loader"></div>
<script
    type="module"
    src="https://widgets.api-sports.io/football/1.1.8/widget.js">
</script> -->