<h1>Top 5 Ranking Leagues</h1>

<section id="slideshow">
    <div class="entire-content">
        <div class="content-carrousel">
        <figure class="shadow"><img src="https://chickennpickle.com/wichita/wp-content/uploads/sites/4/2020/06/Premier-League-logo-2.png"/></figure>
        <figure class="shadow"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRys3pfI6vtyoR5abtVaeRkdyWQU2TGZ750521GvTRSMF0bvgqobkZDejUHtQimuh_cts0&usqp=CAU"/></figure>
        <figure class="shadow"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Serie_a_2021.svg/300px-Serie_a_2021.svg.png"/></figure>
        <figure class="shadow"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Ligue_1_Uber_Eats_logo.svg/260px-Ligue_1_Uber_Eats_logo.svg.png"/></figure>
        <figure class="shadow"><img src="https://1000logos.net/wp-content/uploads/2019/01/Spanish-La-Liga-logo.jpg"/></figure>
        </div>
    </div>
</section>

<% soccerLeagues.forEach(league => { %>
    <div class="league-list">
        <a class="btn btn-primary" href="/teams/<%= league.strLeague %>" role="button">
            <%= league.strLeague %>
        </a>
    </div>
<% }) %>
